<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>长春400电话选号中心-办长春400电话申请-长春400电话查询-【长春集号吧】</title>
	<meta name="keywords" content="长春400电话办理,长春400电话申请,长春400电话" />
	<meta name="description" content="长春400电话号码选号中心，提供长春免费400电话办理、申请、选号服务，找含长春区号(0431)的400电话就上集号吧400号码网。" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/400/" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/400/" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t1.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/">固定电话</a></li>	  
	  <li><a href="/400/" class="active">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/">靓号定制</a></li>
	  
	  <li><a href="/news/">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main line">
<div class="location">
当前位置： <a href="/">长春手机号</a> &gt; <a href="/400/">400靓号</a>
</div>
<div class="main-left">
    <!--集号吧选号导航-->
    <div class="xhdh">
      <div class="xhdh-bt">集号吧选号导航</div>
     <dl>
        <dt><a href="http://www.jihaoba.com/escrow/" target="_blank">[全国]</a>手机靓号</dt>
        <dd><a href="/escrow/search.htm?manager=1">移动</a></dd>
        <dd><a href="/escrow/search.htm?manager=2">联通</a></dd>
        <dd><a href="/escrow/search.htm?manager=3">电信</a></dd>
        <dd><a href="/escrow/search.htm?manager=4">虚拟运营商</a></dd>

        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/dianhua/" target="_blank">[全国]</a>长春固定电话</dt>
        <dd><a href="/dianhua/wuxian/">无线固话</a></dd>
        <dd><a href="/dianhua/youxian/">有线固话</a></dd>
		<dd><a href="/dianhua/yihaotong/">商务一号通</a></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/chepai/" target="_blank">[全国]</a>长春车牌靓号</dt>
		        <dd><a href="/chepai/A-all-all-0-1.htm">吉A</a></dd>
		        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/400/" target="_blank">[全国]</a>400电话</dt>
        <dd><a href="/400/search.htm?key=0431">推荐0431号段</a></dd>
        <div class="clear"></div>
      </dl>
    </div>
    <!--集号吧选号导航  --> 
    <!--常用工具-->
    <div class="tools-bt"> 常用工具 </div>
    <ul class="tools">
      <li><a href="http://www.jihaoba.com/tools/haoduan/" target="_blank">号段查询</a></li>
      <li class="one"><a href="http://gujia.jihaoba.com/" target="_blank">手机号码估价</a></li>
      <li><a href="http://www.jihaoba.com/quhao/" target="_blank">区号查询</a></li>
      <li class="one"><a href="http://jixiong.jihaoba.com/" target="_blank">手机号码吉凶预测</a></li>
      <li><a href="http://www.jihaoba.com/qq/jixiong/" target="_blank">QQ吉凶测试</a></li>
      <li class="one"><a href="http://guishudi.jihaoba.com/" target="_blank">手机号码归属地查询</a></li>
      <li><a href="http://www.jihaoba.com/qq/gujia/" target="_blank">QQ号码估价</a></li>
      <li class="one"><a href="http://www.jihaoba.com/chepai/jixiong/" target="_blank">车牌号吉凶测试</a></li>
      <div class="clear"></div>
    </ul>
    <!--常用工具结束--> 
    <!--套餐资费-->
    <div class="postage">
     	<div class="title">长春手机资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/zifei-yidong.htm">长春移动套餐资费</a></li>
            <li> <a href="/news/zifei-liantong.htm">长春联通套餐资费</a></li>
            <li> <a href="/news/zifei-dianxin.htm">长春电信套餐资费</a></li>
        </ul>
    </div>
	<div class="postage">
     	<div class="title">长春宽带资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/kuandai-yidong.htm">长春移动宽带资费</a></li>
            <li> <a href="/news/kuandai-liantong.htm">长春联通宽带资费</a></li>
            <li> <a href="/news/kuandai-dianxin.htm">长春电信宽带资费</a></li>
        </ul>
    </div>
    <div class="postage">
        <div class="title">长春固话资费</div>
        <ul class="postage_nr">
            <li> <a href="/news/guhuazifei-yidong.htm">长春移动固话资费</a></li>
            <li> <a href="/news/guhuazifei-liantong.htm">长春联通网通固话资费</a></li>
            <li> <a href="/news/guhuazifei-dianxin.htm">长春电信固话资费</a></li>
        </ul>
    </div>
</div>
    <div class="main-right">

       <div class="case">
       <div class="title cf">
		  <ul class="title-list">
            <li class="on"><a href="/400/">长春400电话</a></li>
          </ul> 
        </div>
           <div class="product">
           	<div class="fenlei"><div class="fenlei1">号　　段：</div>
        	<div class="fenlei2">
						<a href="/400/all/" class="no all">不限</a>
						<a data-href="/400/4001/" class="">移动4001</a>
						<a data-href="/400/4007/" class="">移动4007</a>
						<a data-href="/400/4000/" class="">联通4000</a>
						<a data-href="/400/4006/" class="">联通4006</a>
						<a data-href="/400/4008/" class="">电信4008</a>
						<a data-href="/400/4009/" class="">电信4009</a>
						</div>
            <div class="clear"></div>
        </div>
        <div class="fenlei"><div class="fenlei1">价　　格：</div>
        	<div class="fenlei2">
						<a href="/400/all/" class="no all">不限</a>
						<a data-href="/400/all/" class="">价格面议</a>
						<a data-href="/400/all/all-1-all-all-all-1.htm" class="">800元以下</a>
						<a data-href="/400/all/all-2-all-all-all-1.htm" class="">800-1500元</a>
						<a data-href="/400/all/all-3-all-all-all-1.htm" class="">1500-3000元</a>
						<a data-href="/400/all/all-4-all-all-all-1.htm" class="">3000-5000元</a>
						<a data-href="/400/all/all-5-all-all-all-1.htm" class="">5000-9000元</a>
						<a data-href="/400/all/all-6-all-all-all-1.htm" class="">9000-8万元</a>
						<a data-href="/400/all/all-7-all-all-all-1.htm" class="">8万元以上</a>
						</div>
            <div class="clear"></div>
        </div>
        <div class="fenlei"><div class="fenlei1">规　　律：</div>
        	<div class="fenlei2">
						<a href="/400/all/" class="no all">不限</a>
						<a data-href="/400/all/1-all-all-all-all-1.htm" class="">个性靓号</a>
						<a data-href="/400/all/19-all-all-all-all-1.htm" class="">尾数AAA</a>
						<a data-href="/400/all/20-all-all-all-all-1.htm" class="">尾数ABC</a>
						<a data-href="/400/all/14-all-all-all-all-1.htm" class="">尾数AAAA</a>
						<a data-href="/400/all/13-all-all-all-all-1.htm" class="">尾数ABCD</a>
						<a data-href="/400/all/17-all-all-all-all-1.htm" class="">尾数AAAB</a>
						<a data-href="/400/all/15-all-all-all-all-1.htm" class="">尾数AABB</a>
						<a data-href="/400/all/18-all-all-all-all-1.htm" class="">尾数ABAB</a>
						<a data-href="/400/all/16-all-all-all-all-1.htm" class="">尾数ABBA</a>
						<a data-href="/400/all/12-all-all-all-all-1.htm" class="">尾数AAAAA</a>
						<a data-href="/400/all/11-all-all-all-all-1.htm" class="">尾数ABCDE</a>
						<a data-href="/400/all/9-all-all-all-all-1.htm" class="">尾数AAABB</a>
						<a data-href="/400/all/8-all-all-all-all-1.htm" class="">尾数AABAA</a>
						<a data-href="/400/all/10-all-all-all-all-1.htm" class="">尾数AABBB</a>
						<a data-href="/400/all/6-all-all-all-all-1.htm" class="">尾数ABCABC</a>
						<a data-href="/400/all/5-all-all-all-all-1.htm" class="">尾数AABBCC</a>
						<a data-href="/400/all/4-all-all-all-all-1.htm" class="">尾数AAABBB</a>
						<a data-href="/400/all/7-all-all-all-all-1.htm" class="">尾数ABBABB</a>
						<a data-href="/400/all/3-all-all-all-all-1.htm" class="">尾数AAAAA+</a>
						<a data-href="/400/all/2-all-all-all-all-1.htm" class="">尾数ABCDE+</a>
						<a data-href="/400/all/27-all-all-all-all-1.htm" class="">中间AAA</a>
						<a data-href="/400/all/25-all-all-all-all-1.htm" class="">中间AAAA</a>
						<a data-href="/400/all/26-all-all-all-all-1.htm" class="">中间AABB</a>
						<a data-href="/400/all/24-all-all-all-all-1.htm" class="">中间AAABB</a>
						<a data-href="/400/all/23-all-all-all-all-1.htm" class="">中间AABBB</a>
						<a data-href="/400/all/22-all-all-all-all-1.htm" class="">中间AAAA+</a>
						<a data-href="/400/all/28-all-all-all-all-1.htm" class="">中间AABBCC</a>
						<a data-href="/400/all/21-all-all-all-all-1.htm" class="">中间AAABBB</a>
						<a data-href="/400/all/29-all-all-all-all-1.htm" class="">中间ABABAB</a>
						<a data-href="/400/all/30-all-all-all-all-1.htm" class="">中间ABCABC</a>
						</div>
            <div class="clear"></div>
        </div>
		<div class="fenlei"><div class="fenlei1">资　　费：</div>
        	<div class="fenlei2">
						<a href="/400/all/" class="no all">不限</a>
						<a data-href="/400/all/all-all-10-all-all-1.htm" class="">低于0.1元/分钟</a>
						<a data-href="/400/all/all-all-20-all-all-1.htm" class="">0.1-0.2元/分钟</a>
						<a data-href="/400/all/all-all-30-all-all-1.htm" class="">0.2-0.3元/分钟</a>
						</div>
            <div class="clear"></div>
        </div>
         <div class="fenlei"><div class="fenlei1">靓号搜索：</div>
        	<div class="fenlei3"><form action="/400/search.htm" method="get"><label><input name="key" type="text" id="keywords" /> <input name="tail" type="checkbox" value="1">尾数</label><input name="search" type="submit" class="button" value="搜索" /><span><a href="http://www.jihaoba.com/400/search.htm" target="_blank" class="jqss">[ 点击进行精确搜索 ]</a></span></form></div>
            <div class="clear"></div>
        </div>
           </div>
       </div>

<div class="list">
    <div class="sort">
      <ul class="fleft">
       <li class="current foursort"  name="indextj">
            <a href="/400/all/?s=indextj">按默认</a>
        </li>
        <li class=" foursort" name="date">
            <a href="/400/all/?s=date">按最新</a>
        </li>
        <li class="foursort" name="lowprice">
            <a href="/400/all/?s=topprice">按价格
            <i ></i>
            <s ></s>
            </a>
        </li>
      </ul><div class="fl listsc"><a href="/400/?favorite=1">收藏（<span class="red favorite400">0</span>）个</a></div>
      <div class="f-paper fright"><span class="fp-text">共<strong>8614</strong>条</span><span class="fp-text"><b>1</b><em>/</em><i>216</i>页</span><a href="javascript:void(0);" class="fp-prev disabled">&lt;</a><a href="/400/all/all-all-all-all-all-2.htm" class="fp-next">&gt;</a></div>
    </div>
    <div class="label">
      <ul>
        <li class="number3">400靓号</li>
        <li class="price4">价格/含费</li>
        <li class="brand2">运营商</li>
        <li class="zifei">资费</li>
        <li class="dixiao">低消</li>
        <li class="law">号码规律</li>
        <li class="package">门牌号</li>
        <li class="operation">操作</li>
      </ul>
    </div>
	
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837855" target="_blank"><span class="red">400</span><span class="searchresultkey">0458282</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2837855" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837855" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864980" target="_blank"><span class="red">400</span><span class="searchresultkey">6263011</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2864980" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864980" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864373" target="_blank"><span class="red">400</span><span class="searchresultkey">6269776</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2864373" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864373" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840018" target="_blank"><span class="red">400</span><span class="searchresultkey">6169292</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2840018" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840018" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836851" target="_blank"><span class="red">400</span><span class="searchresultkey">0326161</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2836851" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836851" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836996" target="_blank"><span class="red">400</span><span class="searchresultkey">0832929</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2836996" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836996" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840036" target="_blank"><span class="red">400</span><span class="searchresultkey">6579393</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2840036" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840036" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836572" target="_blank"><span class="red">400</span><span class="searchresultkey">0562020</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2836572" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836572" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2866059" target="_blank"><span class="red">400</span><span class="searchresultkey">6380726</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2866059" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2866059" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839828" target="_blank"><span class="red">400</span><span class="searchresultkey">6558383</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839828" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839828" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839893" target="_blank"><span class="red">400</span><span class="searchresultkey">6019393</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839893" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839893" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837632" target="_blank"><span class="red">400</span><span class="searchresultkey">0622929</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2837632" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837632" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2205140" target="_blank"><span class="red">400</span><span class="searchresultkey">1167911</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon yidong"></i>移动</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2205140" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2205140" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839207" target="_blank"><span class="red">400</span><span class="searchresultkey">6140808</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839207" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839207" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838761" target="_blank"><span class="red">400</span><span class="searchresultkey">0217070</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2838761" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838761" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837242" target="_blank"><span class="red">400</span><span class="searchresultkey">0179393</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2837242" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837242" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839382" target="_blank"><span class="red">400</span><span class="searchresultkey">6976969</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839382" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839382" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838967" target="_blank"><span class="red">400</span><span class="searchresultkey">6429595</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2838967" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838967" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864486" target="_blank"><span class="red">400</span><span class="searchresultkey">6268709</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2864486" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2864486" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839210" target="_blank"><span class="red">400</span><span class="searchresultkey">6836464</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839210" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839210" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316628" target="_blank"><span class="red">400</span><span class="searchresultkey">8399231</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon dianxin"></i>电信</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2316628" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316628" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2865738" target="_blank"><span class="red">400</span><span class="searchresultkey">6293266</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2865738" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2865738" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839530" target="_blank"><span class="red">400</span><span class="searchresultkey">6080404</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839530" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839530" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2317874" target="_blank"><span class="red">400</span><span class="searchresultkey">8638751</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon dianxin"></i>电信</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2317874" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2317874" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838458" target="_blank"><span class="red">400</span><span class="searchresultkey">0851010</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2838458" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838458" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837685" target="_blank"><span class="red">400</span><span class="searchresultkey">0700202</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2837685" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837685" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316689" target="_blank"><span class="red">400</span><span class="searchresultkey">8355901</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon dianxin"></i>电信</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2316689" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316689" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836807" target="_blank"><span class="red">400</span><span class="searchresultkey">0380202</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2836807" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2836807" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839343" target="_blank"><span class="red">400</span><span class="searchresultkey">6644848</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839343" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839343" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837378" target="_blank"><span class="red">400</span><span class="searchresultkey">0536262</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2837378" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2837378" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838547" target="_blank"><span class="red">400</span><span class="searchresultkey">0426060</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2838547" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838547" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2317953" target="_blank"><span class="red">400</span><span class="searchresultkey">8627071</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon dianxin"></i>电信</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2317953" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2317953" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840017" target="_blank"><span class="red">400</span><span class="searchresultkey">6837676</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2840017" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2840017" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839074" target="_blank"><span class="red">400</span><span class="searchresultkey">6926161</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839074" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839074" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839785" target="_blank"><span class="red">400</span><span class="searchresultkey">6830202</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839785" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839785" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838525" target="_blank"><span class="red">400</span><span class="searchresultkey">0886464</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2838525" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2838525" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839875" target="_blank"><span class="red">400</span><span class="searchresultkey">6279595</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839875" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839875" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316667" target="_blank"><span class="red">400</span><span class="searchresultkey">8358531</span></a></li>
        <li class="price4"><span class="red">￥1200</span>/￥1200</span></li>
        <li class="brand2"><i class="brand_icon dianxin"></i>电信</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥1200/年</li>
        <li class="law">个性靓号</li>
        <li class="package"><a href="http://www.jihaoba.com/u/429" target="_blank">429</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2316667" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=429&t400id=2316667" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839647" target="_blank"><span class="red">400</span><span class="searchresultkey">6688484</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839647" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839647" target="_blank">查看</a></li>
      </ul>
    </div>
        <div class="numbershow">
      <ul>
        <li class="number3 hmzt"><a href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839363" target="_blank"><span class="red">400</span><span class="searchresultkey">6414848</span></a></li>
        <li class="price4"><span class="red">￥4000</span>/￥4000</span></li>
        <li class="brand2"><i class="brand_icon liantong"></i>联通</li>
        <li class="zifei">￥0/分</li>
        <li class="dixiao">￥4000/年</li>
        <li class="law">尾数ABAB</li>
        <li class="package"><a href="http://www.jihaoba.com/u/400" target="_blank">400</a>
			<i class="sjdp_icon1 sj_vip5"></i>
					</li>
        <li class="operation"><a class="collect fleft addFavorite" key="2839363" type="400" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=t400&task=show&id=400&t400id=2839363" target="_blank">查看</a></li>
      </ul>
    </div>
        
</div>
<div id="pageGro" class="cb"><div class="pageList"><ul><li  class="on"><a href="/400/all/all-all-all-all-all-1.htm">1</a></li><li ><a href="/400/all/all-all-all-all-all-2.htm">2</a></li><li ><a href="/400/all/all-all-all-all-all-3.htm">3</a></li><li ><a href="/400/all/all-all-all-all-all-4.htm">4</a></li><li ><a href="/400/all/all-all-all-all-all-5.htm">5</a></li><li ><a href="/400/all/all-all-all-all-all-6.htm">6</a></li><li ><a href="/400/all/all-all-all-all-all-7.htm">7</a></li><li ><a href="/400/all/all-all-all-all-all-8.htm">8</a></li></ul></div><div class="pageDown"><a href="/400/all/all-all-all-all-all-2.htm" class="m-pages-next">下一页</a></div></div>
    </div>
    
<div class="clear"></div>
<div class="friendlink m20 clearfix">
	<div><strong>友情链接</strong>
		</div>
</div>
</div>
											<div class="main p10"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/c1.jpg" width="1190" height="100"></a></div>
							<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/400/" target="_blank">手机版</a>。 </div>
</div>
<div class="kefu"><a href="https://p.qiao.baidu.com/cps/chat?siteId=7649321&userId=18077514" title="在线咨询" target="_blank"></a></div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
</body>
</html>
<script type="text/javascript">
  $('.fenlei2 a').click(function() {
    var attr  = $(this).hasClass('on');
    var isall = $(this).hasClass('all');
    if(!isall) {
      if(attr) {
        var link = $(this).parent().find('.no').attr('href');
      } else {
        var link = $(this).attr('data-href');
      }
      window.location.href = link;
    }
  });
</script>