<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>长春固话选号网-长春固话号码/座机靓号-长春固定电话号码大全-【长春集号吧】</title>
	<meta name="keywords" content="长春电话号码,长春固话号码,长春座机靓号,长春固话查询" />
	<meta name="description" content="长春集号吧号码网提供网上长春电话号码选号服务，提供详尽移动、联通和电信固定电话靓号买卖信息，找长春固话号码就上长春集号吧。" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/dianhua/" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/dianhua/" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t4.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/" class="active">固定电话</a></li>	  
	  <li><a href="/400/">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/">靓号定制</a></li>
	  
	  <li><a href="/news/">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main line">
<!--当前位置开始-->
<div class="location">
当前位置： <a href="/">长春手机号</a> &gt; <a href="/dianhua/">固定电话靓号</a>
</div>
<!--当前位置结束-->
<div class="main-left">
    <!--集号吧选号导航-->
    <div class="xhdh">
      <div class="xhdh-bt">集号吧选号导航</div>
     <dl>
        <dt><a href="http://www.jihaoba.com/escrow/" target="_blank">[全国]</a>手机靓号</dt>
        <dd><a href="/escrow/search.htm?manager=1">移动</a></dd>
        <dd><a href="/escrow/search.htm?manager=2">联通</a></dd>
        <dd><a href="/escrow/search.htm?manager=3">电信</a></dd>
        <dd><a href="/escrow/search.htm?manager=4">虚拟运营商</a></dd>

        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/dianhua/" target="_blank">[全国]</a>长春固定电话</dt>
        <dd><a href="/dianhua/wuxian/">无线固话</a></dd>
        <dd><a href="/dianhua/youxian/">有线固话</a></dd>
		<dd><a href="/dianhua/yihaotong/">商务一号通</a></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/chepai/" target="_blank">[全国]</a>长春车牌靓号</dt>
		        <dd><a href="/chepai/A-all-all-0-1.htm">吉A</a></dd>
		        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/400/" target="_blank">[全国]</a>400电话</dt>
        <dd><a href="/400/search.htm?key=0431">推荐0431号段</a></dd>
        <div class="clear"></div>
      </dl>
    </div>
    <!--集号吧选号导航  --> 
    <!--常用工具-->
    <div class="tools-bt"> 常用工具 </div>
    <ul class="tools">
      <li><a href="http://www.jihaoba.com/tools/haoduan/" target="_blank">号段查询</a></li>
      <li class="one"><a href="http://gujia.jihaoba.com/" target="_blank">手机号码估价</a></li>
      <li><a href="http://www.jihaoba.com/quhao/" target="_blank">区号查询</a></li>
      <li class="one"><a href="http://jixiong.jihaoba.com/" target="_blank">手机号码吉凶预测</a></li>
      <li><a href="http://www.jihaoba.com/qq/jixiong/" target="_blank">QQ吉凶测试</a></li>
      <li class="one"><a href="http://guishudi.jihaoba.com/" target="_blank">手机号码归属地查询</a></li>
      <li><a href="http://www.jihaoba.com/qq/gujia/" target="_blank">QQ号码估价</a></li>
      <li class="one"><a href="http://www.jihaoba.com/chepai/jixiong/" target="_blank">车牌号吉凶测试</a></li>
      <div class="clear"></div>
    </ul>
    <!--常用工具结束--> 
    <!--套餐资费-->
    <div class="postage">
     	<div class="title">长春手机资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/zifei-yidong.htm">长春移动套餐资费</a></li>
            <li> <a href="/news/zifei-liantong.htm">长春联通套餐资费</a></li>
            <li> <a href="/news/zifei-dianxin.htm">长春电信套餐资费</a></li>
        </ul>
    </div>
	<div class="postage">
     	<div class="title">长春宽带资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/kuandai-yidong.htm">长春移动宽带资费</a></li>
            <li> <a href="/news/kuandai-liantong.htm">长春联通宽带资费</a></li>
            <li> <a href="/news/kuandai-dianxin.htm">长春电信宽带资费</a></li>
        </ul>
    </div>
    <div class="postage">
        <div class="title">长春固话资费</div>
        <ul class="postage_nr">
            <li> <a href="/news/guhuazifei-yidong.htm">长春移动固话资费</a></li>
            <li> <a href="/news/guhuazifei-liantong.htm">长春联通网通固话资费</a></li>
            <li> <a href="/news/guhuazifei-dianxin.htm">长春电信固话资费</a></li>
        </ul>
    </div>
</div>
    <div class="main-right">
    <!--右侧选号-->
    <div class="case">
		<div class="title cf">
			<ul class="title-list">
									<li class="on"><a href="/dianhua/">全部固定电话</a></li>
									<li><a href="/dianhua/wuxian/">无线固话</a></li>
									<li><a href="/dianhua/youxian/">有线固话</a></li>
									<li><a href="/dianhua/yihaotong/">商务一号通</a></li>
							</ul>
        </div>
		<div class="product">
			<div class="fenlei"><div class="fenlei1">号码规律：</div>
				<div class="fenlei2">
								<a href="/dianhua/all/" class="no all">不限</a>
								<a data-href="/dianhua/all/0-all-all-all-1.htm" class="">个性靓号</a>
								<a data-href="/dianhua/all/3-all-all-all-1.htm" class="">尾数AAA</a>
								<a data-href="/dianhua/all/24-all-all-all-1.htm" class="">尾数AAAB</a>
								<a data-href="/dianhua/all/25-all-all-all-1.htm" class="">尾数AAAAB</a>
								<a data-href="/dianhua/all/26-all-all-all-1.htm" class="">尾数AAAAAB</a>
								<a data-href="/dianhua/all/27-all-all-all-1.htm" class="">尾数AAAAAAB</a>
								<a data-href="/dianhua/all/28-all-all-all-1.htm" class="">尾数AAAAAAAB</a>
								<a data-href="/dianhua/all/6-all-all-all-1.htm" class="">尾数ABC</a>
								<a data-href="/dianhua/all/8-all-all-all-1.htm" class="">尾数AABB</a>
								<a data-href="/dianhua/all/9-all-all-all-1.htm" class="">尾数ABAB</a>
								<a data-href="/dianhua/all/30-all-all-all-1.htm" class="">尾数ABABAB</a>
								<a data-href="/dianhua/all/22-all-all-all-1.htm" class="">尾数ABABCCCC</a>
								<a data-href="/dianhua/all/10-all-all-all-1.htm" class="">尾数ABBA</a>
								<a data-href="/dianhua/all/4-all-all-all-1.htm" class="">尾数ABCD+</a>
								<a data-href="/dianhua/all/7-all-all-all-1.htm" class="">尾数AABBCC</a>
								<a data-href="/dianhua/all/5-all-all-all-1.htm" class="">尾数ABCABC</a>
								<a data-href="/dianhua/all/2-all-all-all-1.htm" class="">尾数AAABB</a>
								<a data-href="/dianhua/all/21-all-all-all-1.htm" class="">尾数AAABBB</a>
								<a data-href="/dianhua/all/1-all-all-all-1.htm" class="">尾数AAAA</a>
								<a data-href="/dianhua/all/23-all-all-all-1.htm" class="">尾数AAAAA</a>
								<a data-href="/dianhua/all/29-all-all-all-1.htm" class="">尾数AAAAAA</a>
								<a data-href="/dianhua/all/20-all-all-all-1.htm" class="">尾数ABCDABCD</a>
								<a data-href="/dianhua/all/31-all-all-all-1.htm" class="">尾数AAAABBBB</a>
								<a data-href="/dianhua/all/32-all-all-all-1.htm" class="">尾数AAABBBB</a>
								<a data-href="/dianhua/all/16-all-all-all-1.htm" class="">中间AAA</a>
								<a data-href="/dianhua/all/19-all-all-all-1.htm" class="">中间AAAA</a>
								<a data-href="/dianhua/all/14-all-all-all-1.htm" class="">中间AABB</a>
								<a data-href="/dianhua/all/11-all-all-all-1.htm" class="">中间AAAAA+</a>
								<a data-href="/dianhua/all/15-all-all-all-1.htm" class="">中间AAABB</a>
								<a data-href="/dianhua/all/18-all-all-all-1.htm" class="">中间AABBB</a>
								<a data-href="/dianhua/all/12-all-all-all-1.htm" class="">中间AAABBB</a>
								<a data-href="/dianhua/all/13-all-all-all-1.htm" class="">中间AABBCC</a>
								<a data-href="/dianhua/all/17-all-all-all-1.htm" class="">中间ABCABC</a>
								</div>
				<div class="clear"></div>
			</div>
			<div class="fenlei"><div class="fenlei1">价格范围：</div>
				<div class="fenlei2">
								<a href="/dianhua/all/" class="no all">不限</a>
								<a data-href="/dianhua/all/all-0-all-all-1.htm" class="">价格面议</a>
								<a data-href="/dianhua/all/all-1-all-all-1.htm" class="">100元以下</a>
								<a data-href="/dianhua/all/all-2-all-all-1.htm" class="">100-500元</a>
								<a data-href="/dianhua/all/all-3-all-all-1.htm" class="">500-1000元</a>
								<a data-href="/dianhua/all/all-4-all-all-1.htm" class="">1000-2000元</a>
								<a data-href="/dianhua/all/all-5-all-all-1.htm" class="">2000-5000元</a>
								<a data-href="/dianhua/all/all-6-all-all-1.htm" class="">5000-10000元</a>
								<a data-href="/dianhua/all/all-7-all-all-1.htm" class="">10000元以上</a>
								</div>
				<div class="clear"></div>
			</div>
			<form action="/dianhua/search.htm" method="get">
				<div class="fenlei"><div class="fenlei1">靓号搜索：</div>
					<div class="fenlei3"><label><input name="key" type="text" value="" /> <input name="tail" type="checkbox" value="1">尾数</label><input name="search" type="submit" class="button" value="搜索" /><span><a href="http://www.jihaoba.com/dianhua/search.htm" target="_blank" class="jqss">[ 点击进行精确搜索 ]</a></span></div>
					<div class="clear"></div>
				</div>
			</form>
		</div>
	</div>
    
	<!--右侧选号结束-->
	<!--号码列表页-->
	<div class="list">
		<div class="sort">
			<ul class="fleft">
				<li class="current"><a href="/dianhua/all/">按默认</a></li>
				<li><a href="/dianhua/all/?s=date">按最新</a></li>
				<li class=""><a href="/dianhua/all/?s=lowprice">按价格
				<i ></i>
				<s ></s></a></li>
			</ul>
			<div class="fl listsc"><a href="/dianhua/?favorite=1">收藏（<span class="red favoritedianhua">0</span>）个</a></div>
			<div class="f-paper fright"><span class="fp-text">共<strong>1915</strong>条</span><span class="fp-text"><b>1</b><em>/</em><i>48</i>页</span><a href="javascript:void(0);" class="fp-prev disabled">&lt;</a><a href="/dianhua/all/all-all-all-all-2.htm" class="fp-next">&gt;</a></div>
		</div>
		<div class="label">
			<ul>
				<li class="number">固话靓号</li>
				<li class="price">价格</li>
				<li class="brand1">号码类型</li>
				<li class="law1">号码规律</li>
				<li class="package1">门牌号</li>
				<li class="operation">操作</li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2686979" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">86688088</span><br />
								</a></li>
				<li class="price"><span class="red">￥3588</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AABB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/154748" target="_blank">154748</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				<i class="sjdp_icon sj_dpdown"></i></li>
				<li class="operation"><a class="collect fleft addFavorite" key="2686979" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2686979" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660193" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88686828</span><br />
								</a></li>
				<li class="price"><span class="red">￥2720</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/154748" target="_blank">154748</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				<i class="sjdp_icon sj_dpdown"></i></li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660193" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660193" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659680" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89580008</span><br />
								</a></li>
				<li class="price"><span class="red">￥1920</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/9188" target="_blank">9188</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				<i class="sjdp_icon sj_dpdown"></i></li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659680" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659680" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=66&telephoneid=2659752" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">82635188</span><br />
								</a></li>
				<li class="price"><span class="red">￥1980</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/66" target="_blank">66</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659752" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=66&telephoneid=2659752" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=130&telephoneid=2660385" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85610431</span><br />
								</a></li>
				<li class="price"><span class="red">￥2080</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/130" target="_blank">130</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660385" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=130&telephoneid=2660385" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203887" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84666684</span><br />
								</a></li>
				<li class="price"><span class="red">￥2000</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AAAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203887" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203887" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204149" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88773334</span><br />
								</a></li>
				<li class="price"><span class="red">￥1400</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AABBB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2204149" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204149" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659617" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">87800004</span><br />
								</a></li>
				<li class="price"><span class="red">￥3350</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/9188" target="_blank">9188</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659617" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659617" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660604" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85322226</span><br />
								</a></li>
				<li class="price"><span class="red">￥2240</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1100" target="_blank">1100</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660604" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660604" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660184" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88666652</span><br />
								</a></li>
				<li class="price"><span class="red">￥2400</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AAAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/154748" target="_blank">154748</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660184" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660184" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203890" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">87622229</span><br />
								</a></li>
				<li class="price"><span class="red">￥2000</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203890" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203890" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659626" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84978978</span><br />
								</a></li>
				<li class="price"><span class="red">￥2080</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数ABCABC</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/9188" target="_blank">9188</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659626" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=2659626" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203690" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85132222</span><br />
								</a></li>
				<li class="price"><span class="red">￥1.60万</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203690" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203690" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660182" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">82722225</span><br />
								</a></li>
				<li class="price"><span class="red">￥2240</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/154748" target="_blank">154748</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660182" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660182" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203737" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84973999</span><br />
								</a></li>
				<li class="price"><span class="red">￥4800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203737" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203737" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660614" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89298345</span><br />
								</a></li>
				<li class="price"><span class="red">￥1920</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数ABC</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1100" target="_blank">1100</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660614" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660614" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203745" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">82795999</span><br />
								</a></li>
				<li class="price"><span class="red">￥4800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203745" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203745" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1886&telephoneid=2660693" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88970002</span><br />
								</a></li>
				<li class="price"><span class="red">￥1800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1886" target="_blank">1886</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660693" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1886&telephoneid=2660693" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=1352651" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89867890</span><br />
								</a></li>
				<li class="price"><span class="red">￥2700</span></li>
				<li class="brand1">无线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/9188" target="_blank">9188</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="1352651" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=9188&telephoneid=1352651" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=57604&telephoneid=2660088" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84733337</span><br />
								</a></li>
				<li class="price"><span class="red">￥2240</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/57604" target="_blank">57604</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660088" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=57604&telephoneid=2660088" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=130&telephoneid=2687026" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">87788688</span><br />
								</a></li>
				<li class="price"><span class="red">￥2588</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AABB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/130" target="_blank">130</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2687026" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=130&telephoneid=2687026" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204160" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89644445</span><br />
								</a></li>
				<li class="price"><span class="red">￥1400</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2204160" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204160" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660621" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89877567</span><br />
								</a></li>
				<li class="price"><span class="red">￥1800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数ABC</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1100" target="_blank">1100</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660621" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660621" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2659865" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89844443</span><br />
								</a></li>
				<li class="price"><span class="red">￥1980</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/68" target="_blank">68</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659865" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2659865" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203977" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85522224</span><br />
								</a></li>
				<li class="price"><span class="red">￥1600</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203977" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203977" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=57604&telephoneid=2660028" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85255554</span><br />
								</a></li>
				<li class="price"><span class="red">￥2080</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/57604" target="_blank">57604</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660028" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=57604&telephoneid=2660028" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660259" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85299997</span><br />
								</a></li>
				<li class="price"><span class="red">￥2720</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/154748" target="_blank">154748</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660259" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=154748&telephoneid=2660259" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=156084&telephoneid=2660326" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">82777168</span><br />
								</a></li>
				<li class="price"><span class="red">￥2240</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/156084" target="_blank">156084</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660326" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=156084&telephoneid=2660326" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204450" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">81280004</span><br />
								</a></li>
				<li class="price"><span class="red">￥800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2204450" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204450" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2659894" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">87944555</span><br />
								</a></li>
				<li class="price"><span class="red">￥4990</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/68" target="_blank">68</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2659894" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2659894" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204178" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89189588</span><br />
								</a></li>
				<li class="price"><span class="red">￥1300</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2204178" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204178" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204391" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84555155</span><br />
								</a></li>
				<li class="price"><span class="red">￥1000</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2204391" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2204391" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1886&telephoneid=2660673" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88966788</span><br />
								</a></li>
				<li class="price"><span class="red">￥1920</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">个性靓号</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1886" target="_blank">1886</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660673" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1886&telephoneid=2660673" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660625" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">87898234</span><br />
								</a></li>
				<li class="price"><span class="red">￥1800</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数ABC</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/1100" target="_blank">1100</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660625" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=1100&telephoneid=2660625" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203766" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">89254999</span><br />
								</a></li>
				<li class="price"><span class="red">￥3700</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203766" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203766" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=108&telephoneid=2660521" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">85210007</span><br />
								</a></li>
				<li class="price"><span class="red">￥1620</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAAB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/108" target="_blank">108</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2660521" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=108&telephoneid=2660521" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203967" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">88772220</span><br />
								</a></li>
				<li class="price"><span class="red">￥1600</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">中间AABBB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203967" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203967" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=108&telephoneid=2386229" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">83332999</span><br />
								</a></li>
				<li class="price"><span class="red">￥1.16万</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/108" target="_blank">108</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2386229" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=108&telephoneid=2386229" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203826" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">84747222</span><br />
								</a></li>
				<li class="price"><span class="red">￥2500</span></li>
				<li class="brand1">有线固话</li>
				<li class="law1">尾数AAA</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/5233" target="_blank">5233</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2203826" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=5233&telephoneid=2203826" target="_blank">查看</a></li>
			</ul>
		</div>
				<div class="numbershow">
			<ul>
				<li class="number hmzt"><a href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2686921" target="_blank">
									<span class="yellow">0431</span><span class="searchresultkey">80666888</span><br />
								</a></li>
				<li class="price"><span class="red">￥3.50万</span></li>
				<li class="brand1">无线固话</li>
				<li class="law1">尾数AAABBB</li>
				<li class="package1"><a href="http://www.jihaoba.com/u/68" target="_blank">68</a>
				<i class="sjdp_icon1 sj_vip5"></i>
				</li>
				<li class="operation"><a class="collect fleft addFavorite" key="2686921" type="dianhua" style="cursor:pointer;">收藏</a><a class="reserve fright" href="http://www.jihaoba.com/shop/?com=telephone&id=68&telephoneid=2686921" target="_blank">查看</a></li>
			</ul>
		</div>
			</div>  
	<!--号码列表页结束-->
	<!--  翻页-->     
	<div id="pageGro" class="cb"><div class="pageList"><ul><li  class="on"><a href="/dianhua/all/all-all-all-all-1.htm">1</a></li><li ><a href="/dianhua/all/all-all-all-all-2.htm">2</a></li><li ><a href="/dianhua/all/all-all-all-all-3.htm">3</a></li><li ><a href="/dianhua/all/all-all-all-all-4.htm">4</a></li><li ><a href="/dianhua/all/all-all-all-all-5.htm">5</a></li><li ><a href="/dianhua/all/all-all-all-all-6.htm">6</a></li><li ><a href="/dianhua/all/all-all-all-all-7.htm">7</a></li><li ><a href="/dianhua/all/all-all-all-all-8.htm">8</a></li></ul></div><div class="pageDown"><a href="/dianhua/all/all-all-all-all-2.htm" class="m-pages-next">下一页</a></div></div>
    </div>
    
	<div class="clear"></div>
	<div class="friendlink m20 clearfix">
		<div><strong>友情链接</strong>
				</div>
	</div>
</div>
											<div class="main p10"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/c2.jpg" width="1190" height="100"></a></div>
							<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/dianhua/" target="_blank">手机版</a>。 </div>
</div>
<div class="kefu"><a href="https://p.qiao.baidu.com/cps/chat?siteId=7649321&userId=18077514" title="在线咨询" target="_blank"></a></div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
</body>
</html>
<script type="text/javascript">
	$('.fenlei2 a').click(function() {
		var attr  = $(this).hasClass('on');
		var isall = $(this).hasClass('all');
		if(!isall) {
			if(attr) {
				var link = $(this).parent().find('.no').attr('href');
			} else {
				var link = $(this).attr('data-href');
			}
			window.location.href = link;
		}
	});
</script>