<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>长春手机号预定网 长春移动、联通、电信手机号码定制-【长春集号吧】</title>
	<meta name="keywords" content="长春定制手机号,长春移动号码预约,长春联通号码预约,长春电信号码预约" />
	<meta name="description" content="长春集号吧号码预订网提供吉林省长春移动、联通、电信手机号码预约定制服务，个性生日号码定制，就上长春号码定制网。" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/shouji/dingzhi/" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/shouji/dingzhi/" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t3.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/">固定电话</a></li>	  
	  <li><a href="/400/">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/" class="active">靓号定制</a></li>
	  
	  <li><a href="/news/">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main line"> 
  <div class="location"> 当前位置： <a href="/">长春手机号</a> &gt; <a href="/shouji/dingzhi/">手机号码定制</a> </div>
  <div class="main-left">
    <!--集号吧选号导航-->
    <div class="xhdh">
      <div class="xhdh-bt">集号吧选号导航</div>
     <dl>
        <dt><a href="http://www.jihaoba.com/escrow/" target="_blank">[全国]</a>手机靓号</dt>
        <dd><a href="/escrow/search.htm?manager=1">移动</a></dd>
        <dd><a href="/escrow/search.htm?manager=2">联通</a></dd>
        <dd><a href="/escrow/search.htm?manager=3">电信</a></dd>
        <dd><a href="/escrow/search.htm?manager=4">虚拟运营商</a></dd>

        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/dianhua/" target="_blank">[全国]</a>长春固定电话</dt>
        <dd><a href="/dianhua/wuxian/">无线固话</a></dd>
        <dd><a href="/dianhua/youxian/">有线固话</a></dd>
		<dd><a href="/dianhua/yihaotong/">商务一号通</a></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/chepai/" target="_blank">[全国]</a>长春车牌靓号</dt>
		        <dd><a href="/chepai/A-all-all-0-1.htm">吉A</a></dd>
		        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/400/" target="_blank">[全国]</a>400电话</dt>
        <dd><a href="/400/search.htm?key=0431">推荐0431号段</a></dd>
        <div class="clear"></div>
      </dl>
    </div>
    <!--集号吧选号导航  --> 
    <!--常用工具-->
    <div class="tools-bt"> 常用工具 </div>
    <ul class="tools">
      <li><a href="http://www.jihaoba.com/tools/haoduan/" target="_blank">号段查询</a></li>
      <li class="one"><a href="http://gujia.jihaoba.com/" target="_blank">手机号码估价</a></li>
      <li><a href="http://www.jihaoba.com/quhao/" target="_blank">区号查询</a></li>
      <li class="one"><a href="http://jixiong.jihaoba.com/" target="_blank">手机号码吉凶预测</a></li>
      <li><a href="http://www.jihaoba.com/qq/jixiong/" target="_blank">QQ吉凶测试</a></li>
      <li class="one"><a href="http://guishudi.jihaoba.com/" target="_blank">手机号码归属地查询</a></li>
      <li><a href="http://www.jihaoba.com/qq/gujia/" target="_blank">QQ号码估价</a></li>
      <li class="one"><a href="http://www.jihaoba.com/chepai/jixiong/" target="_blank">车牌号吉凶测试</a></li>
      <div class="clear"></div>
    </ul>
    <!--常用工具结束--> 
    <!--套餐资费-->
    <div class="postage">
     	<div class="title">长春手机资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/zifei-yidong.htm">长春移动套餐资费</a></li>
            <li> <a href="/news/zifei-liantong.htm">长春联通套餐资费</a></li>
            <li> <a href="/news/zifei-dianxin.htm">长春电信套餐资费</a></li>
        </ul>
    </div>
	<div class="postage">
     	<div class="title">长春宽带资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/kuandai-yidong.htm">长春移动宽带资费</a></li>
            <li> <a href="/news/kuandai-liantong.htm">长春联通宽带资费</a></li>
            <li> <a href="/news/kuandai-dianxin.htm">长春电信宽带资费</a></li>
        </ul>
    </div>
    <div class="postage">
        <div class="title">长春固话资费</div>
        <ul class="postage_nr">
            <li> <a href="/news/guhuazifei-yidong.htm">长春移动固话资费</a></li>
            <li> <a href="/news/guhuazifei-liantong.htm">长春联通网通固话资费</a></li>
            <li> <a href="/news/guhuazifei-dianxin.htm">长春电信固话资费</a></li>
        </ul>
    </div>
</div>
  <div class="main-right"> 
  <div class="yuding">
    <div class="hmyd_bt">
    	<ul class="title-list">
            <li class="on"><a href="/shouji/dingzhi/">手机靓号私人定制</a></li>
            <li><a href="/dianhua/dingzhi/">固话靓号私人定制</a></li>
            <li><a href="/chepai/dingzhi/">车牌靓号私人定制</a></li>
            <li><a href="/qq/dingzhi/">QQ靓号私人定制</a></li>
            <li><a href="/400/dingzhi/">400靓号私人定制</a></li>
          </ul>
    </div>
	<form name="form" id="bookForm">
	<input type="hidden" name="type" id="type" value="1" />
	<input type="hidden" name="submit" value="1" />
	<input type="hidden" name="formhash" value="af162b09">
    <div class="hmyd_nr clearfix">
    	<div class="wxts">亲爱的用户，如果您查询不到你所需要的号码，可直接填写以下表单与我们联系，我们将会尽快为您找到你所需要的或类似的号码，更好地为您服务。<a href="http://www.jihaoba.com/shouji/yuding.htm" target="_blank">点此预约其他城市号码</a></div>
        <h1>请输入您要预约的手机靓号信息</h1>
        <div class="bd">所在地区：长春</div>
        <div class="bd">手机靓号：<input class="sjbd" id="haoma" name="haoma" type="text" /><span class="red">*必须填</span></div>
        <div class="ts">（请输入您要包含的数字，无特殊要求的数字以*号代替）</div>
        
        <h1>请填写好您的联系方式，有此号码号商会尽快与您联系！</h1>
      <div class="bd">联系电话：<input class="sjbd" onKeyUp="this.value = this.value.replace(/\D+/g, '');"  maxlength="11" name="usertel" type="text" />&nbsp;<span class="red">*</span></div>
      
       <div class="tj"><input type="button" class="an1" id="submit" value="立即定制" /><input type="reset" id="reset" class="an2" value="重新填写" /></div>
    <P style="background: #fcf8e0;    padding: 15px;    color: #ff7800; border: solid 1px #fbe59b; margin-top:10px;">注意事项：您的手机靓号定制求购信息，我们会发送至您当地的号码经销商，如果经销商有您需要的号码，会及时和您联系，请耐心等待。
</P>
    </div>
	</form>
    
    </div>

     <div class="hmyd_bt"><a href="/shouji/dingzhi/info-1.htm" class="yd-more">更多</a>长春求购号码列表</div>
    <div class="hmyd_nr clearfix">
    	<div class="wxts">注意：预约人的联系电话，QQ信息，只有我们的VIP会员才能查看。<a href="http://user.jihaoba.com/register" target="_blank">免费注册</a></div>
      	<ul>
		        	<li>ID号：417310　    　    预约：15144338888　    时间：2019-03-23</li>
		        	<li>ID号：416304　    　    预约：　    时间：2019-03-07</li>
		        	<li>ID号：415982　    　    预约：1**19920917　    时间：2019-03-02</li>
		        	<li>ID号：415981　    　    预约：1**19900930　    时间：2019-03-02</li>
		        	<li>ID号：415945　    　    预约：13069111860　    时间：2019-03-02</li>
		        	<li>ID号：415916　    　    预约：17704312777　    时间：2019-03-01</li>
		        	<li>ID号：415910　    　    预约：19904311999　    时间：2019-03-01</li>
		        	<li>ID号：415443　    　    预约：17801230817　    时间：2019-02-21</li>
		        	<li>ID号：414823　    　    预约：13331676999　    时间：2019-02-10</li>
		        	<li>ID号：414738　    　    预约：13134441314　    时间：2019-02-07</li>
		        	<li>ID号：414634　    　    预约：19970528777　    时间：2019-02-03</li>
		        	<li>ID号：414517　    　    预约：15004446111　    时间：2019-01-31</li>
		        	<li>ID号：414296　    　    预约：　    时间：2019-01-27</li>
		        	<li>ID号：414199　    　    预约：13944801616　    时间：2019-01-24</li>
		        	<li>ID号：414064　    　    预约：139****4439　    时间：2019-01-22</li>
		        </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
											<div class="main p10"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/c1.jpg" width="1190" height="100"></a></div>
							<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/shouji/dingzhi/" target="_blank">手机版</a>。 </div>
</div>
<div class="kefu"><a href="https://p.qiao.baidu.com/cps/chat?siteId=7649321&userId=18077514" title="在线咨询" target="_blank"></a></div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
</body>
</html>
<script type="text/javascript">
$(function() {
    $('#reset').click(function(){$('#bookForm').get(0).reset();})
    $('#submit').bind('click', function() {
      if(submitorder()) {
        $.post('/book', $('#bookForm').serialize(),function (data) {
            if(data.success) {
				location.reload()
            }
            alert(data.msg);
          },'json');
      }
      return false;
    });
});
  function submitorder() {
    var str=/^1[3|4|5|7|8][0-9]{9}$/;
    var mobile=/[0-9*]{11}/;
    if(form.haoma.value==''){
      alert('请填写您要预约的手机号！');
      form.haoma.focus();
      return false;
    } else if(!mobile.exec(form.haoma.value)){
      alert('预约的手机号码格式错误！');
      form.haoma.focus();
      return false;
    } else if(form.usertel.value==''){
      alert('请填写您的手机号码作为联系方式');
      form.usertel.focus();
      return false;
    } else if(!str.exec(form.usertel.value)){
      alert('联系方式格式错误，请填写11位的手机号码');
      form.usertel.focus();
      return false;
    } else return true;
  }
</script>