<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>长春本地动态-【长春集号吧】</title>
	<meta name="keywords" content="长春本站公告,行业动态" />
	<meta name="description" content="长春集号吧官方公告，提供长春手机、qq、固话、YY等号码行业动态，把握靓号优惠政策，做靓号行业的领头羊。" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/news/" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/news/" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t4.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/">固定电话</a></li>	  
	  <li><a href="/400/">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/">靓号定制</a></li>
	  
	  <li><a href="/news/" class="active">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main line"> 

  <div class="location"> 当前位置： <a href="/">长春手机号</a> &gt; <a href="/news/">本地动态</a></div>
  <div class="main-left news">
    <!--集号吧选号导航-->
    <div class="xhdh">
      <div class="xhdh-bt">集号吧选号导航</div>
     <dl>
        <dt><a href="http://www.jihaoba.com/escrow/" target="_blank">[全国]</a>手机靓号</dt>
        <dd><a href="/escrow/search.htm?manager=1">移动</a></dd>
        <dd><a href="/escrow/search.htm?manager=2">联通</a></dd>
        <dd><a href="/escrow/search.htm?manager=3">电信</a></dd>
        <dd><a href="/escrow/search.htm?manager=4">虚拟运营商</a></dd>

        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/dianhua/" target="_blank">[全国]</a>长春固定电话</dt>
        <dd><a href="/dianhua/wuxian/">无线固话</a></dd>
        <dd><a href="/dianhua/youxian/">有线固话</a></dd>
		<dd><a href="/dianhua/yihaotong/">商务一号通</a></dd>
        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/chepai/" target="_blank">[全国]</a>长春车牌靓号</dt>
		        <dd><a href="/chepai/A-all-all-0-1.htm">吉A</a></dd>
		        <div class="clear"></div>
      </dl>
      <dl>
        <dt><a href="http://www.jihaoba.com/400/" target="_blank">[全国]</a>400电话</dt>
        <dd><a href="/400/search.htm?key=0431">推荐0431号段</a></dd>
        <div class="clear"></div>
      </dl>
    </div>
    <!--集号吧选号导航  --> 
    <!--常用工具-->
    <div class="tools-bt"> 常用工具 </div>
    <ul class="tools">
      <li><a href="http://www.jihaoba.com/tools/haoduan/" target="_blank">号段查询</a></li>
      <li class="one"><a href="http://gujia.jihaoba.com/" target="_blank">手机号码估价</a></li>
      <li><a href="http://www.jihaoba.com/quhao/" target="_blank">区号查询</a></li>
      <li class="one"><a href="http://jixiong.jihaoba.com/" target="_blank">手机号码吉凶预测</a></li>
      <li><a href="http://www.jihaoba.com/qq/jixiong/" target="_blank">QQ吉凶测试</a></li>
      <li class="one"><a href="http://guishudi.jihaoba.com/" target="_blank">手机号码归属地查询</a></li>
      <li><a href="http://www.jihaoba.com/qq/gujia/" target="_blank">QQ号码估价</a></li>
      <li class="one"><a href="http://www.jihaoba.com/chepai/jixiong/" target="_blank">车牌号吉凶测试</a></li>
      <div class="clear"></div>
    </ul>
    <!--常用工具结束--> 
    <!--套餐资费-->
    <div class="postage">
     	<div class="title">长春手机资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/zifei-yidong.htm">长春移动套餐资费</a></li>
            <li> <a href="/news/zifei-liantong.htm">长春联通套餐资费</a></li>
            <li> <a href="/news/zifei-dianxin.htm">长春电信套餐资费</a></li>
        </ul>
    </div>
	<div class="postage">
     	<div class="title">长春宽带资费</div>
        <ul class="postage_nr">
        	<li> <a href="/news/kuandai-yidong.htm">长春移动宽带资费</a></li>
            <li> <a href="/news/kuandai-liantong.htm">长春联通宽带资费</a></li>
            <li> <a href="/news/kuandai-dianxin.htm">长春电信宽带资费</a></li>
        </ul>
    </div>
    <div class="postage">
        <div class="title">长春固话资费</div>
        <ul class="postage_nr">
            <li> <a href="/news/guhuazifei-yidong.htm">长春移动固话资费</a></li>
            <li> <a href="/news/guhuazifei-liantong.htm">长春联通网通固话资费</a></li>
            <li> <a href="/news/guhuazifei-dianxin.htm">长春电信固话资费</a></li>
        </ul>
    </div>
	<div class="chuchuang m15">
		<div class="bt"><i></i><span>长春手机靓号</span> <a href="/escrow/">more+</a></div>
		<div class="tj_hm">
			<ul>
							<li><a href="http://www.jihaoba.com/escrow/31863-15943187777.htm" target="_blank"><span class="tj01">1594318<span class="yellow">7777</span></span><span class="tj03">￥13万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/588-17804312222.htm" target="_blank"><span class="tj01">1780431<span class="yellow">2222</span></span><span class="tj03">￥10.70万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/137-18100484111.htm" target="_blank"><span class="tj01">18100484<span class="yellow">111</span></span><span class="tj03">￥3200</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/44-18504312222.htm" target="_blank"><span class="tj01">1850431<span class="yellow">2222</span></span><span class="tj03">￥5.40万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/52222-17790000088.htm" target="_blank"><span class="tj01">1779<span class="yellow">00000</span>88</span><span class="tj03">￥8.30万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/52222-18804301314.htm" target="_blank"><span class="tj01">18804301314</span><span class="tj03">￥4600</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/137-18946679444.htm" target="_blank"><span class="tj01">18946679<span class="yellow">444</span></span><span class="tj03">￥4000</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/137-15584486666.htm" target="_blank"><span class="tj01">1558448<span class="yellow">6666</span></span><span class="tj03">￥9.50万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/31863-13904318484.htm" target="_blank"><span class="tj01">1390431<span class="yellow">8484</span></span><span class="tj03">￥4200</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/31863-18043140006.htm" target="_blank"><span class="tj01">1804314<span class="yellow">0006</span></span><span class="tj03">￥4500</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/52222-19904444123.htm" target="_blank"><span class="tj01">19904444<span class="yellow">123</span></span><span class="tj03">￥4000</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/63128-18644958888.htm" target="_blank"><span class="tj01">1864495<span class="yellow">8888</span></span><span class="tj03">￥10.70万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/137-18904309191.htm" target="_blank"><span class="tj01">1890430<span class="yellow">9191</span></span><span class="tj03">￥4000</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/6699-17804312222.htm" target="_blank"><span class="tj01">1780431<span class="yellow">2222</span></span><span class="tj03">￥10.70万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/8844-18943671111.htm" target="_blank"><span class="tj01">1894367<span class="yellow">1111</span></span><span class="tj03">￥7.10万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/8844-13804310035.htm" target="_blank"><span class="tj01">13804310035</span><span class="tj03">￥4000</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/633-18644959999.htm" target="_blank"><span class="tj01">1864495<span class="yellow">9999</span></span><span class="tj03">￥10.70万</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/52222-18946704111.htm" target="_blank"><span class="tj01">18946704<span class="yellow">111</span></span><span class="tj03">￥3200</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/52222-18043191349.htm" target="_blank"><span class="tj01">18043191349</span><span class="tj03">￥3319</span></a></li>
							<li><a href="http://www.jihaoba.com/escrow/6699-13804310075.htm" target="_blank"><span class="tj01">13804310075</span><span class="tj03">￥4000</span></a></li>
						</ul>
		</div>
	</div>
</div>
  <div class="main-right"> 
  
		    <div class="newlist">
    	<div class="bt"><span class="fl">长春城市公告</span><a class="fr" href="/news/1-1.htm" target="_blank">更多</a></div>
        <ul>
		        	<li><a href="/news/show-22186.htm" target="_blank"><span class="fl">疫苗案，一查到底！严肃问责！依法从严处理！</span><span class="fr">[2018-07-23]</span></a></li>
                	<li><a href="/news/show-19696.htm" target="_blank"><span class="fl">长春联通：送腾讯视频VIP的活动来啦！</span><span class="fr">[2018-06-12]</span></a></li>
                	<li><a href="/news/show-18297.htm" target="_blank"><span class="fl">为什么刷抖音会上瘾？</span><span class="fr">[2018-04-21]</span></a></li>
                	<li><a href="/news/show-18277.htm" target="_blank"><span class="fl">重磅!下载咪咕视频免费领取12个G流量啦!</span><span class="fr">[2018-04-20]</span></a></li>
                	<li><a href="/news/show-18252.htm" target="_blank"><span class="fl">电子身份证来了，扫一扫就能用，手机丢了也不怕</span><span class="fr">[2018-04-19]</span></a></li>
                	<li><a href="/news/show-18049.htm" target="_blank"><span class="fl">充电器不拔的后果有多严重，你造吗？</span><span class="fr">[2018-04-11]</span></a></li>
                	<li><a href="/news/show-17759.htm" target="_blank"><span class="fl">长春移动：【领1G流量】幸福如意的祝福为您送达！</span><span class="fr">[2018-03-23]</span></a></li>
                	<li><a href="/news/show-16290.htm" target="_blank"><span class="fl">长春联通：【限时优惠】4G本地冰激凌仅需69元！698</span><span class="fr">[2018-01-18]</span></a></li>
                	<li><a href="/news/show-13907.htm" target="_blank"><span class="fl">长春移动4G飞享套餐</span><span class="fr">[2017-09-15]</span></a></li>
                	<li><a href="/news/show-13886.htm" target="_blank"><span class="fl">长春全球通资费</span><span class="fr">[2017-09-12]</span></a></li>
                	<li><a href="/news/show-13782.htm" target="_blank"><span class="fl">历8省13城行程逾5000公里 中国联通“匠心网络万里行”活动燃爆南粤</span><span class="fr">[2017-09-07]</span></a></li>
                	<li><a href="/news/show-892.htm" target="_blank"><span class="fl">长春手机靓号咨询热线：4008-915-925 </span><span class="fr">[2013-02-21]</span></a></li>
        		</ul>
    </div>
	    <div class="newlist">
    	<div class="bt"><span class="fl">长春行业动态</span><a class="fr" href="/news/2-1.htm" target="_blank">更多</a></div>
        <ul>
		        	<li><a href="/news/show-4634.htm" target="_blank"><span class="fl">打电话不要钱的手机卡你用了吗</span><span class="fr">[2015-12-04]</span></a></li>
                	<li><a href="/news/show-4118.htm" target="_blank"><span class="fl">欢go客户端哪些不能不说的秘密</span><span class="fr">[2015-11-16]</span></a></li>
                	<li><a href="/news/show-3604.htm" target="_blank"><span class="fl">免费流量4个G，连送4个月，你还不来抢！</span><span class="fr">[2015-07-30]</span></a></li>
                	<li><a href="/news/show-3572.htm" target="_blank"><span class="fl">告别WIFI任性直播，仅需15元3G/4G随心观看！</span><span class="fr">[2015-07-27]</span></a></li>
                	<li><a href="/news/show-3503.htm" target="_blank"><span class="fl">【沃联盟创富之路，成就土豪梦想】</span><span class="fr">[2015-06-27]</span></a></li>
                	<li><a href="/news/show-3406.htm" target="_blank"><span class="fl">告别WIFI任性直播，仅需15元3G/4G随心观看！</span><span class="fr">[2015-06-10]</span></a></li>
                	<li><a href="/news/show-2993.htm" target="_blank"><span class="fl">告别WIFI任性直播，仅需15元3G/4G随心观看！</span><span class="fr">[2015-04-23]</span></a></li>
                	<li><a href="/news/show-2941.htm" target="_blank"><span class="fl">用上4G为何流量用的那么快：都怪图片智能自适！</span><span class="fr">[2015-04-18]</span></a></li>
                	<li><a href="/news/show-2411.htm" target="_blank"><span class="fl">【免流量看视频，爱就不要克制！】</span><span class="fr">[2015-02-02]</span></a></li>
                	<li><a href="/news/show-2181.htm" target="_blank"><span class="fl">【沃随身看  沃为您打造】</span><span class="fr">[2014-12-28]</span></a></li>
                	<li><a href="/news/show-2176.htm" target="_blank"><span class="fl">【预存99元入手4G千元手机酷派K1，错过必悔！】</span><span class="fr">[2014-12-28]</span></a></li>
                	<li><a href="/news/show-1973.htm" target="_blank"><span class="fl">【8元打遍全国 4G组合套餐越来越火的真正原因！】</span><span class="fr">[2014-12-23]</span></a></li>
        		</ul>
    </div>
	    <div class="newlist">
    	<div class="bt"><span class="fl">长春移动动态</span><a class="fr" href="/news/8-1.htm" target="_blank">更多</a></div>
        <ul>
		        	<li><a href="/news/show-26704.htm" target="_blank"><span class="fl">长春移动：思念TA，用“心”的方式，告诉TA.</span><span class="fr">[2019-04-15]</span></a></li>
                	<li><a href="/news/show-26607.htm" target="_blank"><span class="fl">长春移动：【移动王卡】充50元赠50元、30G视频流量~</span><span class="fr">[2019-04-04]</span></a></li>
                	<li><a href="/news/show-26553.htm" target="_blank"><span class="fl">长春移动：〖小移店铺〗随时随地有收入，轻松开店轻松赚~</span><span class="fr">[2019-04-01]</span></a></li>
                	<li><a href="/news/show-26472.htm" target="_blank"><span class="fl">长春移动：【惊喜】这款流量包免单啦，让你“宅”出好时光！</span><span class="fr">[2019-03-27]</span></a></li>
                	<li><a href="/news/show-26423.htm" target="_blank"><span class="fl">长春移动：0.99元抢1G、1.5元抢2G啦</span><span class="fr">[2019-03-22]</span></a></li>
                	<li><a href="/news/show-26422.htm" target="_blank"><span class="fl">长春移动：0.99元抢1G、1.5元抢2G啦</span><span class="fr">[2019-03-22]</span></a></li>
                	<li><a href="/news/show-26394.htm" target="_blank"><span class="fl">长春移动：【惊喜】这款流量包免单啦，让你“宅”出好时光！</span><span class="fr">[2019-03-19]</span></a></li>
                	<li><a href="/news/show-26317.htm" target="_blank"><span class="fl">长春移动：【签到抽大奖】得2G流量~</span><span class="fr">[2019-03-11]</span></a></li>
                	<li><a href="/news/show-25289.htm" target="_blank"><span class="fl">长春移动高校WLAN优惠套餐，资费低至10元</span><span class="fr">[2018-11-22]</span></a></li>
                	<li><a href="/news/show-25288.htm" target="_blank"><span class="fl">长春移动流量套餐（高端用户专属）</span><span class="fr">[2018-11-22]</span></a></li>
                	<li><a href="/news/show-25287.htm" target="_blank"><span class="fl">长春互联网畅享包长春地区用户订购本业务，可赠送17.99元话费</span><span class="fr">[2018-11-22]</span></a></li>
                	<li><a href="/news/show-23940.htm" target="_blank"><span class="fl">长春移动网上营业厅推出高校WLAN优惠套餐</span><span class="fr">[2018-09-08]</span></a></li>
        		</ul>
    </div>
	    <div class="newlist">
    	<div class="bt"><span class="fl">长春联通动态</span><a class="fr" href="/news/9-1.htm" target="_blank">更多</a></div>
        <ul>
		        	<li><a href="/news/show-24645.htm" target="_blank"><span class="fl">长春联通全国流量日租卡 1元800MB;3元一整天。当日有效，流量不用不花钱，月费5元，送来电显示</span><span class="fr">[2018-10-13]</span></a></li>
                	<li><a href="/news/show-24644.htm" target="_blank"><span class="fl">长春联通腾讯地王卡 腾讯专属流量40GB/月，1元=800M全国流量，300分钟通话</span><span class="fr">[2018-10-13]</span></a></li>
                	<li><a href="/news/show-24642.htm" target="_blank"><span class="fl">长春联通用户专享联通冰激凌套餐99元 月费限时低至69元 享受30元/月赠款，连续赠送12个月，99</span><span class="fr">[2018-10-13]</span></a></li>
                	<li><a href="/news/show-22882.htm" target="_blank"><span class="fl">长春联通全国流量王套餐 全国大流量告别流量荒，差旅通勤无压力，29元49元69元79元，任你选！一卡</span><span class="fr">[2018-08-10]</span></a></li>
                	<li><a href="/news/show-18909.htm" target="_blank"><span class="fl">长春联通：滴滴整改，大家是否能接受？</span><span class="fr">[2018-05-18]</span></a></li>
                	<li><a href="/news/show-18052.htm" target="_blank"><span class="fl">长春联通：人人都有500M，再送话费3元！</span><span class="fr">[2018-04-11]</span></a></li>
                	<li><a href="/news/show-17963.htm" target="_blank"><span class="fl">长春联通：人人都有500M，再送话费3元！</span><span class="fr">[2018-04-07]</span></a></li>
                	<li><a href="/news/show-17587.htm" target="_blank"><span class="fl">长春联通：新年新计划，王族计划，沃帮您赚钱！</span><span class="fr">[2018-03-15]</span></a></li>
                	<li><a href="/news/show-17060.htm" target="_blank"><span class="fl">长春联通：新年求支签，求新求圆满</span><span class="fr">[2018-02-17]</span></a></li>
                	<li><a href="/news/show-16976.htm" target="_blank"><span class="fl">长春联通：爱相随，沃相伴瑧爱双享！</span><span class="fr">[2018-02-09]</span></a></li>
                	<li><a href="/news/show-16930.htm" target="_blank"><span class="fl">长春联通：2018中国联通首届年货节全攻略！</span><span class="fr">[2018-02-08]</span></a></li>
                	<li><a href="/news/show-16844.htm" target="_blank"><span class="fl">长春联通：6元亲情卡，腾讯专属流量共享</span><span class="fr">[2018-02-05]</span></a></li>
        		</ul>
    </div>
	    <div class="newlist">
    	<div class="bt"><span class="fl">长春电信动态</span><a class="fr" href="/news/10-1.htm" target="_blank">更多</a></div>
        <ul>
		        	<li><a href="/news/show-22885.htm" target="_blank"><span class="fl">长春电信视频大流量19元大王卡100分钟+ 40G（阿里百度网易定向流量）</span><span class="fr">[2018-08-10]</span></a></li>
                	<li><a href="/news/show-22334.htm" target="_blank"><span class="fl">长春电信：电信大王卡：1元含290元话费，限量100张，抢！</span><span class="fr">[2018-08-01]</span></a></li>
                	<li><a href="/news/show-22332.htm" target="_blank"><span class="fl">长春电信：【福利再升级】200M光纤宽带免费试用一个月 马上开抢！</span><span class="fr">[2018-08-01]</span></a></li>
                	<li><a href="/news/show-22331.htm" target="_blank"><span class="fl">长春电信：有人@你,电信优惠大合集，了解一下</span><span class="fr">[2018-08-01]</span></a></li>
                	<li><a href="/news/show-22262.htm" target="_blank"><span class="fl">长春电信:玩抖音用电信</span><span class="fr">[2018-07-24]</span></a></li>
                	<li><a href="/news/show-22254.htm" target="_blank"><span class="fl">长春电信：电信大王卡1元含290元话费，限量100张，抢！</span><span class="fr">[2018-07-23]</span></a></li>
                	<li><a href="/news/show-22252.htm" target="_blank"><span class="fl">长春电信：200M光纤宽带免费试用一个月 马上开抢！</span><span class="fr">[2018-07-23]</span></a></li>
                	<li><a href="/news/show-17108.htm" target="_blank"><span class="fl">长春电信：翼支付网易严选 新春大放价 满200减20</span><span class="fr">[2018-02-23]</span></a></li>
                	<li><a href="/news/show-14703.htm" target="_blank"><span class="fl">长春电信：翼支付带您与电商网活动</span><span class="fr">[2017-11-18]</span></a></li>
                	<li><a href="/news/show-12393.htm" target="_blank"><span class="fl">长春电信：月租5元 不限流量任你选</span><span class="fr">[2017-07-10]</span></a></li>
                	<li><a href="/news/show-10553.htm" target="_blank"><span class="fl">长春电信：517电信狂欢节，“礼”所当然享不停~</span><span class="fr">[2017-05-16]</span></a></li>
                	<li><a href="/news/show-7440.htm" target="_blank"><span class="fl">长春电信：10元1G清爽一夏</span><span class="fr">[2016-07-16]</span></a></li>
        		</ul>
    </div>
		  </div>
  <div class="clear"></div>
</div>
											<div class="main p10"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/c8.jpg" width="1190" height="100"></a></div>
							<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/news/" target="_blank">手机版</a>。 </div>
</div>
<div class="kefu"><a href="https://p.qiao.baidu.com/cps/chat?siteId=7649321&userId=18077514" title="在线咨询" target="_blank"></a></div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
</body>
</html>