<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>长春中期移动手机靓号-网上选手机号-集号吧手机靓号交易平台第1页</title>
	<meta name="keywords" content="中期移动手机号码,手机号,手机靓号,网上选手机号,挑号网,选号网,手机号码交易网" />
	<meta name="description" content="【集号吧】选号网是手机号码交易平台，涵盖各地的手机靓号，提供3g卡，移动靓号、联通靓号、电信靓号、网上自助挑号服务，资源丰富，购买方便，欢迎您直接网上购买手机号码。" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/operators-18/" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/operators-18/" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t8.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/">固定电话</a></li>	  
	  <li><a href="/400/">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/" class="active">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/">靓号定制</a></li>
	  
	  <li><a href="/news/">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main line">
	<!--当前位置开始-->
	<div class="location">
	当前位置： <a href="/">长春手机号</a> &gt; <a href="/operators-18/">中期移动靓号</a>
	</div>
	<!--当前位置结束-->
		<div class="banner">
		<div class='long_block_index'>
			<div class='js_imgs_block'>
				<div id='slideshow_wrapper'>
					<div id='slideshow_photo'>
											<a title="1" href=""  index="1"><img border='0' src="../Picture/5cb43fb60e5b1.jpg" height="260"></a> 
											<a title="1" href=""  index="2"><img border='0' src="../Picture/5cb43fbf0b4f7.jpg" height="260"></a> 
										</div>
					<div id='slideshow_footbar'></div>
				</div>
			</div>
		</div>
	</div>
		<!--右侧开始-->
	<div class="hmxq fright">
		<div class="choice clearfix" id="choice">
			<div class="c_box clearfix">
				<div class="fleft btt">价　格：</div>
				<div class="fright lx"> 
										<a href="/operators-18/search.htm?cityid=120&grade=-1&pricescope=0&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=">不限</a>
										<a href="/operators-18/search.htm?cityid=120&grade=-1&pricescope=0&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=">价格电议</a>
										<a href="/operators-18/search.htm?cityid=120&grade=-1&pricescope=5&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=">10000-50000元</a>
										<a href="/operators-18/search.htm?cityid=120&grade=-1&pricescope=6&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=">50000元以上</a>
										<div class="zhankai"><img src="../Picture/jia1.jpg" width="20" height="20"></div>
				</div>
			</div>
			<div class="c_box clearfix">
				<div class="fleft btt">规　律：</div>
				<div class="fright lx"> 
										<a href="/operators-18/search.htm?cityid=120&grade=-1&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" class="sj_active">不限</a>
										<a href="/operators-18/search.htm?cityid=120&grade=0&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >个性靓号</a>
										<a href="/operators-18/search.htm?cityid=120&grade=44&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >1349风水号</a>
										<a href="/operators-18/search.htm?cityid=120&grade=28&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=18&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=13&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=11&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=2&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAAA+</a>
										<a href="/operators-18/search.htm?cityid=120&grade=3&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAABBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=41&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAABBBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=19&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABC</a>
										<a href="/operators-18/search.htm?cityid=120&grade=12&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=31&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCDABCD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=10&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCDE</a>
										<a href="/operators-18/search.htm?cityid=120&grade=1&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCDE+</a>
										<a href="/operators-18/search.htm?cityid=120&grade=39&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAAAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=34&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=16&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=32&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=14&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=30&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=17&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=42&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABABAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=36&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABABABAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=15&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABBA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=29&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=8&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=47&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAAABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=9&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=7&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=5&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCABC</a>
										<a href="/operators-18/search.htm?cityid=120&grade=4&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABBCC</a>
										<a href="/operators-18/search.htm?cityid=120&grade=6&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABBABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=33&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABCABCD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=35&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AABBCCDD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=37&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABBBABBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=38&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数AAABAAAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=49&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >尾数ABBBCCCD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=26&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=24&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=21&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAAAA</a>
										<a href="/operators-18/search.htm?cityid=120&grade=48&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAAAA+</a>
										<a href="/operators-18/search.htm?cityid=120&grade=25&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=23&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAABB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=22&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AABBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=20&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AAABBB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=27&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间AABBCC</a>
										<a href="/operators-18/search.htm?cityid=120&grade=40&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间ABAB</a>
										<a href="/operators-18/search.htm?cityid=120&grade=45&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间ABCD</a>
										<a href="/operators-18/search.htm?cityid=120&grade=46&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >中间ABCDE</a>
										<a href="/operators-18/search.htm?cityid=120&grade=43&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >经典老号段</a>
										<a href="/operators-18/search.htm?cityid=120&grade=50&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >爱情号</a>
										<a href="/operators-18/search.htm?cityid=120&grade=51&pricescope=-1&tail=0&key=&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=" >年份号</a>
										<div class="zhankai"><img src="../Picture/jia1.jpg" width="20" height="20"></div>
				</div>
			</div>
			<div class="choice_show ">
				<div class="fleft choice_show_bt">已　选：</div>
				<div class="fl choice_show_nr">
														</div>
				<div class="fright choice_show_qc"><a href="/operators-18/search.htm" class="color">重置所有筛选条件</a></div>
			</div>
			<div class="search-jjr background">
				<form action="/operators-18/search.htm" method="get">
					<div class="mohu">
						<input class="ssk" placeholder="请输入包含数字" autocomplete="off" value="" name="key" type="text" />
						<label>
						  <input class="dx" name="tail" type="checkbox" value="1"  />
						  <span>尾数</span></label>
						<input class="anniu" type="submit" value="搜索" />
					</div>
				</form>
				<form action="/operators-18/search.htm" method="get">
					<div class="jingzhun" id="escrow_search"> <span>精准搜索：</span>
						<input type="text" class="jq" value="1" />
						<input class="jq fourkey" name="p1" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p2" maxlength="1" value="" type="text" />
						-
						<input class="jq fourkey" name="p3" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p4" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p5" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p6" maxlength="1" value="" type="text" />
						-
						<input class="jq fourkey" name="p7" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p8" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p9" maxlength="1" value="" type="text" />
						<input class="jq fourkey" name="p10" maxlength="1" value="" type="text" />
						<input class="anniu" type="submit" value="搜索" />
					</div>
				</form>
			</div>
			
			<div class="label">
				<div class="fleft label_bt">排　序：</div>
				<div class="fright label_show"> 
					<a class="moren" href="/operators-18/search.htm?pricescope=-1&grade=-1&key=&tail=0&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=">默认排序</a>
					<a href="/operators-18/search.htm?pricescope=-1&grade=-1&key=&tail=0&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=&s=lowprice" class="arrow">价格排序
						<i ></i>
						<s></s>
					</a>
					<a href="/operators-18/search.htm?pricescope=-1&grade=-1&key=&tail=0&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=&s=lowminiprice" class="arrow">低消排序
						<i></i>
						<s></s>
					</a>
					<a href="/operators-18/search.htm?pricescope=-1&grade=-1&key=&tail=0&p1=&p2=&p3=&p4=&p5=&p6=&p7=&p8=&p9=&p10=&s=lowcardprice" class="arrow">话费排序
						<i></i>
						<s></s>
					</a> 
				</div>
			</div>
		</div>
		<div class="dp_newpage">
			<div class="dp_hmlb">
				<div class="dp_hmlsm fleft"> <span class="kd1">手机靓号</span> <span class="kd2">售价</span> <span class="kd3">话费</span> <span class="kd4">操作</span> </div>
				<div class="dp_hmlsm fright"> <span class="kd1">手机靓号</span> <span class="kd2">售价</span> <span class="kd3">话费</span> <span class="kd4">操作</span> </div>
				<div class="clearfix"></div>
				<ul>
											<div class="nonumber">很抱歉，没有符合您要求的号码！</div>
										<div class="clear"></div>
				</ul>
			</div>
			
		</div>
	</div>
	<!--右侧结束-->

	<!--左侧开始-->
	<div class="box_fleft fl">
				        <div class="chuchuang m15">
			<div class="bt"><i></i><span>购号流程</span></div>
			<div style="text-align:center;" >
				<img src="../Picture/59883ee56b09d.jpg" />
			</div>
		</div>
				<div class="chuchuang m15">
			<div class="bt"><i></i><span>中期移动介绍</span></div>
			<div class="hongdou_introduce"><p>中期集团有限公司于2000-12-01在北京市工商行政管理局登记成立。法定代表人姜新，公司经营范围包括移动通信转售业务；投资及投资管理；出租商业用房等。</p></div>
		</div>
	</div>
	<!--左侧结束-->  
	<div class="clear"></div>
</div>
<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、QQ、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/operators-18/" target="_blank">手机版</a>。 </div>
</div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery-1.7.1.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
<script src="../Scripts/index.js"></script>
</body>
</html>
<script>
$(function() {
	$('input[name=tail]').on('touch click', function() {		
		if(!$(this).hasClass('dan_active')) {
			$(this).addClass('dan_active');
			$(this).prop('checked', true);
		} else if($(this).hasClass('dan_active')) {
			$(this).removeClass('dan_active');
			$(this).prop('checked', false);
		}
		return true;
	});
	var lxLength = $("#choice .lx").length;
	if(lxLength > 0) {
		for(i=0; i<lxLength; i++){
			var lxHeight = $("#choice .lx:eq("+i+")").height();
			if(lxHeight > 25){
				$("#choice .lx:eq("+i+")").addClass("lxhidden");
				$("#choice .lx:eq("+i+")").addClass("morechoild");
			}
		}
	}
	$(".zhankai").toggle(
		function(){
			$(this).parent().removeClass("lxhidden");
			$(this).find("img").attr("src","//static1.jihaoba.com/city/images/jian.jpg");
		},
		function(){
			$(this).parent().addClass("lxhidden");
			$(this).find("img").attr("src","//static1.jihaoba.com/city/images/jia1.jpg");
		}
	);
})
</script>