<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>梭伦sollen 精钢防水夜光多功能男表全自动机械表男商务镂空手表 501 白色玫瑰金-集号吧</title>
	<meta name="keywords" content="梭伦sollen 精钢防水夜光多功能男表全自动机械表男商务镂空手表 501 白色玫瑰金" />
	<meta name="description" content="梭伦sollen 精钢防水夜光多功能男表全自动机械表男商务镂空手表 501 白色玫瑰金" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<meta name="author" content="lezhizhe.net" />
	<meta name="copyright" content="jihaoba.com" />
	<meta name="applicable-device"content="pc" />
	<meta name="mobile-agent" content="format=html5;url=http://m.jihaoba.com/changchun/jmall/show_2038.htm" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.jihaoba.com/changchun/jmall/show_2038.htm" >
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../Css/public.css" rel="stylesheet" type="text/css" />
	<link href="../Css/neiye.css" rel="stylesheet" type="text/css" />

<link href="../Css/jmall.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="x_header" >
											<div class="main"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/t2.jpg" width="1190" height="80" /></a></div>
									
  <div class="welcome">
    <div class="main">
      <div class="fl"><a href="http://www.jihaoba.com">首页</a> > 吉林省手机靓号 > <a href="/">长春手机靓号</a> </div>
      <div class="fr">
        <ul class="menu">
          <li> <a target="_blank" href="javascript:;">会员中心<i></i></a>
            <div class="zs1" style="width:141px;">
              <div class="account">
                <div class="loginbefore hidden">您好，<span class="red"><a href="http://user.jihaoba.com/logging" target="_blank" rel="nofollow">请登录</a></span></div>
                <div class="loginafter "><span class="red">集号吧靓号网</span> 欢迎您！</div>
              </div>
              <div class="accountlist"> <span><a href="http://user.jihaoba.com/register" target="_blank" rel="nofollow">免费注册</a><a href="http://user.jihaoba.com/logging" rel="nofollow" target="_blank">会员登录</a></span> <span><a href="http://www.jihaoba.com/about/vip.htm" target="_blank" rel="nofollow">高级会员</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank" rel="nofollow">联系客服</a></span> </div>
            </div>
            <span></span> </li>
          <li> <a href="#">微信<i></i></a>
            <div class="zs3" style="width:130px;">
              <div style="padding:10px"><img src="../Picture/erwm.jpg" width="110" height="110" />微信号:jihaoba999</div>
            </div>
            <span></span> </li>
          <li> <a target="_blank" href="javascript:;">联系电话<i></i></a>
            <div class="zs4" style="width:210px;"> <span class="saom2">400电话：4008-915-925(免长途费)<br />
              客服QQ：800060708</span> </div>
            <span></span> </li>
          <li> <a target="_blank" href="http://www.jihaoba.com/about/contact.htm">客户服务<i></i></a>
            <div class="zs5"> <a href="http://www.jihaoba.com/about/sitemap.htm" target="_blank">网站地图</a> <a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">网站简介</a> <a href="http://www.jihaoba.com/about/contact.htm" rel="nofollow" target="_blank">联系我们</a> </div>
            <span></span> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top main">
    <div class="logo fl"><a href="http://www.jihaoba.com" title="到集号吧首页" target="_blank"><img src="../Picture/logo.jpg" alt="到集号吧首页" width="153" height="74" /></a></div>
    <div class="city fl"><a class="title_city" href="/">[长春靓号文化网]</a><a class="qh_city" href="http://www.jihaoba.com/p/" target="_blank">切换城市</a></div>

    <div class="head_icon fr"><a href="/shouji/huishou/" target="_parent"><i class="head_icon0"></i>靓号回收</a><a href="http://www.jihaoba.com/broker/" target="_blank"><i class="head_icon03"></i>联系我们</a> </div>
  </div>
  <div class="x_nav">
    <ul class="main">
      <li><a href="/">网站首页</a></li>
      <li><a href="/escrow/">手机靓号</a></li>  
	  <li><a href="/dianhua/">固定电话</a></li>	  
	  <li><a href="/400/">400电话</a></li>     
	  <li><a href="/chepai/">车牌靓号</a></li>
	  <li><a target="_blank" href="http://www.jihaoba.com/shouji/huishou/">号码回收</a></li>
	  <li><a href="/operators-18/">中期移动</a></li>
	  <li><a href="/operators-32/">红豆电信</a></li>
      <li><a href="/shouji/dingzhi/">靓号定制</a></li>
	  
	  <li><a href="/news/">本地动态</a></li>
	  <!--  <li><a href="http://www.jihaoba.com/shengrihao/" target="_blank">生日靓号</a></li> -->
	  <li><a href="/jmall/" class="active">聚美商城</a></li>
    </ul>
  </div>
</div>
<!--导航结束-->
<div class="main p20">
<div class="jmall-left  fl">
	<div class="sidebar">
    
    	<h4><a href="http://user.jihaoba.com/jmall/add" class="fr">我要发布+</a>产品分类</h4>
        <dl>
        	<dt><a href="/jmall/classid_0_1.htm">全部</a></dt>
			            <dd><a href="/jmall/classid_1092_1.htm" class="on">腕表</a></dd>
			            <dd><a href="/jmall/classid_1001_1.htm">和田玉</a></dd>
			        </dl>
        </div>
        <ul class="jmall_lefttu">
				<li><a href="/about/ad.htm" target="_blank"><img src="../Picture/news_banner_8.jpg" width="222" height="80"></a></li>
			<li><a href="/about/ad.htm" target="_blank"><img src="../Picture/news_banner_8.jpg" width="222" height="80"></a></li>
			<li><a href="/about/ad.htm" target="_blank"><img src="../Picture/news_banner_8.jpg" width="222" height="80"></a></li>
			<li><a href="/about/ad.htm" target="_blank"><img src="../Picture/news_banner_8.jpg" width="222" height="80"></a></li>
		</ul>
    	<div class="jmall-news">
        	<h4><a href="/news/2-1.htm">更多&gt;</a>行业动态</h4>
            <ul>
						<li><a href="/news/show/4634" title="打电话不要钱的手机卡你用了吗">打电话不要钱的手机卡...</a></li>
						<li><a href="/news/show/4118" title="欢go客户端哪些不能不说的秘密">欢go客户端哪些不能...</a></li>
						<li><a href="/news/show/3604" title="免费流量4个G，连送4个月，你还不来抢！">免费流量4个G，连送...</a></li>
						<li><a href="/news/show/3572" title="告别WIFI任性直播，仅需15元3G/4G随心观看！">告别WIFI任性直播...</a></li>
						<li><a href="/news/show/3503" title="【沃联盟创富之路，成就土豪梦想】">【沃联盟创富之路，成...</a></li>
						<li><a href="/news/show/3406" title="告别WIFI任性直播，仅需15元3G/4G随心观看！">告别WIFI任性直播...</a></li>
						<li><a href="/news/show/2993" title="告别WIFI任性直播，仅需15元3G/4G随心观看！">告别WIFI任性直播...</a></li>
						<li><a href="/news/show/2941" title="用上4G为何流量用的那么快：都怪图片智能自适！">用上4G为何流量用的...</a></li>
						<li><a href="/news/show/2411" title="【免流量看视频，爱就不要克制！】">【免流量看视频，爱就...</a></li>
						<li><a href="/news/show/2181" title="【沃随身看  沃为您打造】">【沃随身看  沃为您打造】</a></li>
						<li><a href="/news/show/2176" title="【预存99元入手4G千元手机酷派K1，错过必悔！】">【预存99元入手4G...</a></li>
						<li><a href="/news/show/1973" title="【8元打遍全国 4G组合套餐越来越火的真正原因！】">【8元打遍全国 4G...</a></li>
			            </ul>
        </div>
    </div>
    <div class="jmall-right fr">
        <div class="jmall-bt"> 
       	 <a href="http://www.jihaoba.com/u/149" title="进入店铺" target="_blank">进入店铺&gt; </a>
   		 <h3>梭伦sollen 精钢防水夜光多功能男表全自动机械表男商务镂空手表 501 白色玫瑰金</h3>
        </div>
		<div class="detail-head">
        	<div class="detail-1-3">
            	<img src="../Picture/20171026110249_42910.jpg.jpg" />
                <div class="detail-b">
					<a href="#order" class="detail-b1">在线预订</a>
					<a href="/jmall/classid_1092_1.htm" title="查看更多" class="detail-b2">查看更多</a>
				</div>
            </div>
            <div class="detail-2-3">
            	<table class="detail">
      <tbody><tr>
        <td class="price" colspan="2">
          <span class="title">售价</span><i>￥</i><strong>888</strong>
        </td>
      </tr>
      <tr>
        <td class="shopname">
        <span class="title">店主</span>
        靓号经纪人古君
		<span class="vip2 vipicon"></span>
        </td>
        <td class="renzheng">
        <span class="title">店铺认证</span>
        <span class="shop_rz2 on icon"></span>
		<span class="shop_rz3 on icon"></span>
		<span class="shop_rz4 on icon"></span>
        </td>
      </tr>
      <tr>
        <td class="tel">
          <span class="title">联系电话</span>
          15238155555
          <div class="online">
          【客服：
		                          <a href="http://wpa.qq.com/msgrd?v=3&uin=562219633&site=qq&menu=yes" title="点击交谈"><img src="../Picture/qq.gif" alt="" target="_blank"> </a>
             】
          </div> 
        </td>
        <td class="ruzhu">
        <span class="title">入驻时间</span>
          入驻集号吧第<strong>5</strong>年
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="title">地址</span>
          荔湾区新亚洲国际电子数码城一楼
        </td>
      </tr>
      </tbody></table>
            </div>
            <div class="clear"></div>
            
            <div class="jmall-bt"> 
             <h3>详细介绍</h3>
            </div>
        <div class="xxjs"><img src="../Picture/20171026110319_79458.jpg" alt="" /><img src="../Picture/20171026110319_69644.jpg" alt="" /><img src="../Picture/20171026110320_28327.gif" alt="" /><img src="../Picture/20171026110320_73658.gif" alt="" /><img src="../Picture/20171026110321_27734.gif" alt="" /><img src="../Picture/20171026110321_20199.jpg" alt="" /><img src="../Picture/20171026110321_72178.jpg" alt="" /><img src="../Picture/20171026110322_28938.jpg" alt="" /><img src="../Picture/20171026110322_27422.gif" alt="" /><img src="../Picture/20171026110322_20348.gif" alt="" /><img src="../Picture/20171026110323_56927.gif" alt="" /><img src="../Picture/20171026110324_73204.gif" alt="" /><img src="../Picture/20171026110324_94865.gif" alt="" /><img src="../Picture/20171026110325_49111.gif" alt="" /><img src="../Picture/20171026110326_27356.gif" alt="" /><img src="../Picture/20171026110326_43618.gif" alt="" /><img src="../Picture/20171026110327_22427.jpg" alt="" /></div>
         <div class="jmall-bt" id="order"> 
             <h3>在线订购</h3>
            </div>
            <form action="" class="orderform" method="post" id="order" name="orderform">
			  <input type="hidden" name="id" id="id" value="2038" />
			  <input type="hidden" name="type" id="type" value="jmall" />
			  <input type="hidden" name="submit" value="1" />
			  <input type="hidden" name="formhash" value="af162b09" />
            <input name="name" type="text" placeholder="姓名" id="name" /><input  type="text" placeholder="电话" name="tel" id="tel" /><br />
            <input name="address" type="text" placeholder="输入您的地址" id="add" /><br />
            <button type="button" class="button button-red margin-top" id="submit">提交</button>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    
    
</div>
											<div class="main p10"><a href="http://www.jihaoba.com/escrow/31863/" target="_blank"><img src="../Picture/c4.jpg" width="1190" height="100"></a></div>
							<!--底部-->
<div class="foot">
  <div class="foot-nav"><a href="http://www.jihaoba.com/about/about.htm" rel="nofollow" target="_blank">关于网站</a><a href="javascript:;">|</a><a href="/shouji/dingzhi/" target="_blank">求购信息</a><a href="javascript:;">|</a><a href="http://www.jihaoba.com/news/class_9/1" target="_blank">帮助中心</a><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/contact.htm" target="_blank">联系我们</a><a href="javascript:;"><a href="javascript:;">│</a><a href="http://www.jihaoba.com/about/vip.htm" target="_blank">VIP服务通道</a><a href="javascript:;">│</a><a href="/wurenji/" target="_blank">长春无人机回收维修</a> </div>
  <div class="copyright">大量靓号转让、求购信息，欢迎访问集号吧，长春号码网转让固话、400电话、车牌号，选靓号，欢迎访问长春集号吧。<br />
  Copyright® 2008-2019 jihaoba.com, All Rights Reserved 吉ICP备16006087号<span style="display:none"><script src="../Scripts/stat.js" language="JavaScript" charset="gb2312"></script></span><br />
    集号吧1类城市 商家入驻请拨打财富热线：4008-915-925 <a href="http://m.jihaoba.com/changchun/jmall/show_2038.htm" target="_blank">手机版</a>。 </div>
</div>
<div class="kefu"><a href="https://p.qiao.baidu.com/cps/chat?siteId=7649321&userId=18077514" title="在线咨询" target="_blank"></a></div>
<!-- Youqinglianjie End -->
<script src="../Scripts/jquery.min.js"></script>
<script src="../Scripts/jquery.cookie.js"></script>
<script src="../Scripts/main.js"></script>
</body>
</html>
<script type="text/javascript">

  $(function() {  
    $('#submit').bind('click', function() {
      if(submitorder()) {
			$.post('/order', {
					id:$('#id').val(),
					type:$('#type').val(),
					name:$('input[name=name]').val(),
					tel:$('input[name=tel]').val(),
					address:$('input[name=address]').val(),
					formhash:'af162b09',
					submit:'1'
				},
				function (data) {
					alert(data.msg);
				},
				'json'
			);
		}
		return false;
	});
  });
  function submitorder() {
    var str=/^1[3|4|5|7|8][0-9]{9}$/;
    if(orderform.name.value==''){
      alert('请填写姓名！');
      orderform.name.focus();
      return false;
    } else if(orderform.tel.value==''){
      alert('请填写联系电话');
      orderform.tel.focus();
      return false;
    } else if(!str.exec(orderform.tel.value)){
      alert('请填11位的手机号码');
      orderform.tel.focus();
      return false;
    } else return true;
  }
</script>